# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Pilhas encadeadas/Pilhas encadeadas.rar
Pilhas encadeadas/testePessoal.c
*.json
Listas encadeadas/teste.c
Listas encadeadas/user.c
Listas encadeadas/user.h
Arvore binaria/teste.c
Listas encadeadas/linkedList.h
Listas encadeadas/linkedList.h
.idea/.name
*.iml
*.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
*.cmake
*.txt
*.log
cmake-build-debug/Implementacao_de_estruturas_de_dados
*.ninja
*.check_cache
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
*.bin
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
